div.block{
    display: inline-block
}

div.huge{
    height: 100%;
    width: 500px;
}
div.huge2{
    width:100vw;
    height:200px;
}
div.huge3{
    width:100vw;
    height:100px;
}
div.huge4{
    width: 100vw;
    height: 50px;
}
div.full{
    width: 100vw;
}
div.red{
    background-color: #880000;
}
.inl{
    display: inline-block;
    vertical-align:top;
}
div.div-50{
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 35px;
}
div.div-300-50{
    width: 300px;
    height: 50px;
}
div.submit{
    background-color: green;
    color: white;
    padding: 10px;
    width: auto;
    display: inline-block;
    left: 0;
    right: 0;
    margin: auto;
}
div.div-300-300{
    width: 300px;
    height: 300px;
}
div.div-300-500{
    width: 300px;
    height: 500px;
}
div.div-300-600{
    width: 300px;
    height: 600px;
}
*{background-size: 100% 100%;}
img{margin: 0;}

ers_div{display: block;}