input.font1{
    font-size: 30px;
}
input.font2{
    font-size: 50px;
}
button.bsubmit{
    font-size: 20px;
    height: 36px;
    background-color: #00dd00;
    border-color: #000000;
    border-radius: 5px;
    margin: 5px;
}
button.common{
    font-size: 12px;
    height: 36px;
}
input.in-300-45{
    width: 300px;
    height: 45px;
    font-size: 35px;
}
input.in-290-35{
    width: 290px;
    height: 35px;
    font-size: 30px;
}